.landing-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  background: #f7f7ff;
  font-family: "montserrat";
}
.landing-page-btm-container {
  padding: 40px;
  margin-top: 5%;
  font-family: "montserrat";
}
.landing-content {
  max-width: 52%;
  margin-top: 8rem;
  margin-left: 5rem;
}

.landing-content h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

.landing-content .highlight {
  color: #6166b3;
}

.landing-content p {
  font-size: 1rem;
  margin-top: 20px;
  line-height: 1.5;
  color: #555;
}

.explore-button {
  margin-top: 30px;
  padding: 12px 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5rem;
  font-family: "montserrat";
}

.explore-button:hover {
  background-color: #333;
}

.landing-image-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-top: 4rem;
  margin-right: 5rem;
}

.landing-image {
  max-width: 80%;
  height: auto;
}

.about-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 0;
}

.about-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.about-image {
  width: 45%;
  max-width: 400px;
  margin-left: 5rem;
  margin-right: 9rem;
  margin-top: 20px;
}

.about-text {
  text-align: left;
  margin-top: 20px;
}

.about-text h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.highlight1 {
  color: #6568f4;
  margin-left: 7.5rem;
}

.about-text p {
  font-size: 1.05rem;
  line-height: 1.2;
  color: black;
  margin-bottom: 1.25rem;
}

.highlight2 {
  color: #6166b3;
  position: relative;
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

.word {
  margin-left: 1rem;
  position: absolute;
  transition: opacity 1s ease-in-out;
  width: 100%;
  transform: translateY(-38px);
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.courses-group-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3%;
}
.course-category {
  font-family: "montserrat";
  background-color: rgba(237, 242, 255, 0.5);
  padding: 10px;
  border-radius: 64px;
  cursor: pointer;
  border: none;
  width: 150px;
  color: black;
  font-weight: 400;
}
.course-category span {
  font-weight: bold;
}

.course-category.active {
  background-color: #3f3d56;
  color: white;
  font-weight: 400;
}
.course-category:hover {
  background-color: #3f3d5626;
}

.courses-cards-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-left: 160px;
  padding: 50px;
  width: 60%;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scroll-margin-left: 100px;
}

.course-card {
  flex: 0 0 220px;
  height: 300px;
  border: 1px solid #dee5f8;
  border-radius: 8px;
  text-align: center;
  background-color: #f7f9fc;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.course-card img {
  width: 100%;
  margin: 0;
  margin-left: 0;
  height: 180px;
  opacity: 10%;
}

.course-default {
  padding: 15px;
  opacity: 1;
  transition: opacity 2s ease;
}

.course-hover {
  position: absolute;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3f3d56;
  color: white;
  box-sizing: border-box;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease, visibility 0s 0.4s;
}

.course-card:hover .course-hover {
  opacity: 1;
  visibility: visible;
  transition: opacity 2s ease, visibility 0s 0s;
}

.course-card:hover .course-default {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.course-hover h4 {
  margin: 10px;
}

.course-hover p {
  margin-bottom: 5px;
  text-wrap: inherit;
  font-size: 13px;
  margin-left: 10px;
}

.course-details {
  margin-top: 10px;
  text-align: left;
}
.course-details p {
  font-size: 13px;
}
.courses-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lp-blue-line {
  height: 5px;
  width: 100%;
  color: #dee5f8;
  position: absolute;
}
.courses-header h1 {
  color: #55679c;
}
.courses-header p {
  color: #3f3d56;
  font-weight: 550;
}

.how-it-works-section {
  padding: 50px 10%;
}

.how-it-works-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 60px;
}

.how-it-works-title span {
  color: #55679c; /* Your theme color */
}
.steps-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.step-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.step-item.left .step-content {
  order: 1;
}

.step-item.left .step-image {
  order: 2;
}

.step-item.right .step-content {
  order: 2;
}

.step-item.right .step-image {
  order: 1;
}

.step-content {
  width: 50%;
}

.step-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.step-content p {
  font-size: 16px;
  color: #000;
  line-height: 1.6;
  margin-bottom: 15px;
}
.details-button {
  padding: 10px 20px;
  background-color: #04081b;
  color: white;
  border: none;
  border-radius: 2.8px;
  cursor: pointer;
  text-align: center;
  margin-left: 0;
  font-size: 14px;
  font-family: "montserrat";
}

.details-button:hover {
  background-color: rgba(4, 8, 27, 0.85);
}

.step-image {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder {
  width: 450px;
  height: 250px;
  background-color: #d9d9d9;
}

.FAQ-container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-radius: 12px;
  border-color: rgba(0, 0, 0, 0.5);
}
.FAQ-content {
  width: 100%;
  max-width: 800px;
}

.FAQ-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.FAQ-header h1 {
  font-size: 32px;
  font-weight: bold;
}

.FAQ-header h1 span {
  color: #55679c;
}
.FAQ-header p {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 18px;
  margin-bottom: 50px;
}

.lp-grey-line {
  background-color: #a0a0a0;
  display: block;
  width: 100%;
  height: 0.5px;
  margin-bottom: 1px;
}

.faq-item {
  margin-bottom: 30px;
  padding: 10px 0;
  border-radius: 8px;
  border-bottom: none;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
}

.faq-answer {
  margin-top: 10px;
  font-size: 14px;
  color: #707070;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.faq-question p {
  font-weight: bold;
  font-size: 16px;
}

.faq-question span {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.faq-item.active .faq-answer {
  display: block;
}

.landing-page-footer {
  background-color: #7070701d;
  padding: 40px;
  font-family: "Montserrat";
  margin-top: 5%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.lp-logo-mail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.lp-logo {
  width: 130px;
}
.lp-mail-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.lp-mail-icon {
  width: 15px;
}

.lp-logo-mail-container p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-us span {
  color: #55679c;
  font-weight: 600;
  font-size: 16px;
}

.footer-section h3 {
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}

.footer-line {
  width: 100%;
  height: 1.5px;
  background-color: #707070;
  margin-bottom: 10px;
}

.footer-section p {
  color: #707070;
  font-size: 14px;
  margin-bottom: 10px;
  font-size: 16px;
}
.contact-info {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-labels p,
.contact-details p {
  margin: 10px;
}

.contact-labels {
  text-align: left;
  padding-right: 10px;
}

.contact-details {
  text-align: left;
}
.social-media-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-media-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
