
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
 
.header{
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    padding: 1rem;
    border: 0px 0px 1px 0px;
    background:#F6F7FA;
    /* backdrop-filter: blur(14px); */
    border-bottom: 2px solid #DEE5F8;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  
  .Navbar {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    }
    
    .logo {
      display: flex;
      align-items:center;
      font-size: 1.75rem;
      font-weight: 600;
      font-family: Mooli;
      color: #000;
    }
    
    .buttons button {
      padding: 0.6rem 3rem;
      border-radius: 4px;
      font-size: 16px;
      font-family: Montserrat;
      font-weight: 400;
    }

    .login {
      background-color:black;
      color: #f0f0f0;
      border:none;
    }
    
    