

.hero-section {
    margin: 8rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:2rem;  
    
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
   }
  
  .hero-content h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding:0 2rem;
    color: #000;
  }
  .hero-content p{
    color:#707070;
    font-size: 16px;
    margin: 0;
    text-align: center;
  }
  
  .hero-content h1 span {
    color: #55679C;
  }

  .card{
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  gap:1rem;
  flex-wrap: wrap;
  width:100%
  }
  
  .card .card-img{
    max-width: 250px;
    height:200px;
    margin-bottom: 10px;
  }
  .card .card-title{
    margin:0;
    font-size:2rem;
    font-weight: 600  ;
    color:hsla(0, 0%, 20%);
  }
  
  .card .card-text{
    font-size:0.75rem;
    color:hsla(0, 0%, 30%);
    margin:0;
  }
  

  .sub-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2rem ;
    border-radius: 12px;
    max-width: 500px;
    background-color: rgba(25, 90, 175, 0.02);
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
    padding: 2rem 4rem;
  }
  
  .sub-card:hover {
    border-color: #98A8D7; /* Only change the color, not the width */
    box-shadow: rgba(0, 0, 0, 0.08);
  }
  
  

.sub-card-text{
  display: flex;
  align-items: center;
  flex-direction: column;}

.btnLogin{
  padding: 0.60rem 2rem;
  border-radius: 4px;
  font-size: 16px;
  font-family: Montserrat;
  color: #fff;
  background-color:black;
  border: none;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btnLogin:hover{
  background-color: rgba(4, 8, 27, 0.85);
}


  @media only screen and (max-width:768px) {
    .hero-content h1{
      max-width: 500px
    }
    .sub-card{
      /* width: 0; */
    }
  }

  @media only screen and (max-width:425px) {
    .hero-content h1{
      font-size: 2rem;
    }
  }